body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
*{
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
}
.calender{
    margin: auto;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, .3);

}
.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
    padding: 40px 30px;
}
.weekends{
    display: flex;
    background-color: #27ae60;
    color: white;
    padding: 7px 0px;
}

.days{
    display: flex;
    flex-wrap: wrap;
    
    font-weight: 300;
    padding: 10px 0px;
}
.days div{
    transition: all 0.4s;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.weekends div,
.days div{
    width: 14.28%;
    text-align: center;
}
.days div:hover{
    background-color: #dfe6e9;
}
.today{
    background-color: #27ae60;
    color: #fff;
}
.prev_date{
    color: #999;
}
#month{
    font-size: 30px;
    font-weight: 500;
}
.prev,
.next{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: all 0.3s;
}
.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
